h9 {
font-size: 22px;
font-weight: bold;
  text-align: center;
  color: red;
}


#preload-container {
font-size: 20px;
position: fixed;
top:50%;
  width: 100%;
  text-align: center;
  padding-top: 80px;
  color: red;
z-index:99999;
}


#rready {
 width: 75px;
height:40px;
  font-size: 70px;
  font-weight: bold;
  border: 4px solid red;
  box-shadow: none;
  outline: none;
  background: green;
  padding: 0px;
  color: #fff;
  border-radius: 5px;
}
